<div class="landing__logo-container"></div>

<h1>Modern Web Development</h1>

<h2>What We Do...</h2>

<section class="landing__content-container">

    <p>Responsive modern cloud native web applications built by an experienced development team.</p>

    <p>Services include Black Box/White Box Testing, UX/UI Design and Cloud Consulting Services.</p>
    
    <p>We believe in evolving software development and that is why we choose to deliver new development using best practices in an Agile fashion.</p>
    
</section>

<h2>Contact Us</h2>

<p class="landing__contact-us__container">
    <span class="landing__contact-us__label">Email:</span>
    <span>info@allagi.dev</span>
</p>

