@use 'src/scss/breakpoints';

.landing__logo-container {
    height: 108px; 
    width: 282px; 
    background-image: url('/assets/allagi_logo_with_text.png'); 
    background-position: -104px -196px; margin: 0 auto;
    display: block;
    margin: 0 auto 40px;
}

h1, h2 {
    font-family: "Open Sans", "Helvetica Neue", "Segoe UI", Helvetica, Arial;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    margin: 0 0 60px 0;
}


h2 {
    font-weight: 900;
    margin-bottom: 30px;
}

p {
    font-size: 16px;
    line-height: 1.5em;
}

.landing__content-container {
    margin-bottom: 60px;
    display: block;
    max-width: 560px;
    margin: 0 auto;
    background-color: #DAF0FE;
    padding:30px;
    margin-bottom: 70px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.landing__contact-us__container {
    text-align: center;
}

.landing__contact-us__label {
    font-weight: 800;
    padding: 0 5px 0 0;
}

@media screen and (min-width: breakpoints.$screen-sm) { 

}

@media screen and (min-width: breakpoints.$screen-md) { 

}

@media screen and (min-width: breakpoints.$screen-lg) { 

}

@media screen and (min-width: breakpoints.$screen-md) { 

}
