@use '../scss/breakpoints';

main  {
    display: block;
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 20px;
}

@media screen and (min-width: breakpoints.$screen-sm) { 

    main  {
        display: block;
        max-width: 1280px;
        margin: 0 auto;
        padding: 60px;
    }
}